.badge {
  border: 2px solid black;
  width: max-content;
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.3s;
}

.selected_badge {
  background-color: black;
  color: white;
}

@media (max-width: 571px) {
  .badge {
    font-size: 24px;
  }
}
