{
  "importOrder": [
    "^api",
    "^pages/(.*)$",
    "^(components/(.*)|..)$",
    "^constants/(.*)$",
    "^hooks",
    "^utils",
    "(.css)$",
    "./",
    "^assets/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "arrowParens": "avoid",
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
