.button {
  all: unset;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.1s linear;
  justify-content: center;
  max-width: 120px;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.button:active {
  transform: scale(0.95);
}

.default {
  border-radius: 6px;
}

.circle {
  border-radius: 50%;
}

.md {
  padding: 12px;
}
.lg {
  padding: 16px;
}

.sm {
  padding: 4px;
}

.circle.sm {
  padding: 4px;
  width: 22px;
  height: 22px;
}
.circle.md {
  padding: 8px;
  width: 22px;
  height: 22px;
}
.circle.lg {
  padding: 12px;
  width: 22px;
  height: 22px;
}
