form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .button {
    max-width: 100%;
  }
  form {
    align-items: unset;
  }
}
