.filters {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filter_header {
  margin-top: 20px;
}

.filter_action {
  display: flex;
  gap: 20px;
}

@media (max-width: 600px) {
  .filters {
    flex-direction: column;
  }
  .filter_action {
    width: 100%;
    flex-direction: column;
  }

  .filters input[type="text"]::placeholder {
    font-size: 28px;
  }

  .filters input[type="text"] {
    height: 80px;
    font-size: 28px;
  }
}
