.filters {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.filter_header {
  margin-top: 20px;
}

.filter_action {
  display: flex;
  gap: 20px;
}

@media (max-width: 785px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 571px) {
  .filters {
    align-items: unset;
  }
}
